{% load static %}

{% include "polls/header.html" %}

<section data-bs-version="5" class="features6 cid-sCnn7rBbfT" id="features6-4">
    <div class="container-fluid">
        <div class="main_header">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-12 align-center">
                    <h4 class="mbr-section-subtitle mbr-fonts-style ls-1 display-7">ABOUT TEAM DBDEEP</h4>
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style ls-1 display-1">Who are you?</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card_item col-12 col-lg-4 col-md-4">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="square_animation">
                            <div class="square_null square"></div>
                            <div class="square_fill square"></div>
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Franc Shin</h4>
                        <p class="card-text mbr-fonts-style display-4">Franc Intro</p>
                        <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="/polls" class="text-primary">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-lg-4 col-md-4">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="square_animation">
                            <div class="square_null square"></div>
                            <div class="square_fill square"></div>
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Franc Shin</h4>
                        <p class="card-text mbr-fonts-style display-4">Franc Intro</p>
                        <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="/polls" class="text-primary">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-lg-4 col-md-4">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="square_animation">
                            <div class="square_null square"></div>
                            <div class="square_fill square"></div>
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Franc Shin</h4>
                        <p class="card-text mbr-fonts-style display-4">Franc Intro</p>
                        <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="/polls" class="text-primary">View More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="features7 cid-sCnnjGwVev" id="features7-7">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'polls/images/mbr.jpeg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Hyunseong Park</h4>
                        <p class="card-text mbr-fonts-style display-4">박현성 소개</p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'polls/images/mbr-1.jpeg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Yongbin Jeong</h4>
                        <p class="card-text mbr-fonts-style display-4">정용빈 소개</p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'polls/images/graphic2.jpeg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Jeongun Ahn</h4>
                        <p class="card-text mbr-fonts-style display-4">안정운 소개</p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'polls/images/graphic3.jpg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Seuk Lee</h4>
                        <p class="card-text mbr-fonts-style display-4">이세욱 소개</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "polls/footer.html" %}