<!-- Footer -->
<section data-bs-version="5" class="footer1 cid-sCnnvd6rsP" once="footers" id="footer1-a">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-7">
                <h4 class="mbr-section-subtitle ls-2 mbr-fonts-style display-4">
                    USEFUL LINKS
                </h4>
                <ul class="foot-menu">
                    <li class="foot-menu-item mbr-fonts-style display-7"><a class="text-warning" href="/polls">Home</a></li>
                    <li class="foot-menu-item mbr-fonts-style display-7"><a class="text-warning" href="/polls/aboutus">About us</a></li>
                    <li class="foot-menu-item mbr-fonts-style display-7"><a class="text-warning" href="/admin">Admin</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="box">
                    <h4 class="mbr-section-subtitle ls-2 mbr-fonts-style display-4">
                        LET'S TALK
                    </h4>
                    <ul class="foot-contacts">
                        <li class="foot-phone mbr-fonts-style display-7">
                            <a class="text-warning" href="tel:01033378697">010 3337 8697</a>
                        </li><li class="foot-mail mbr-fonts-style display-7">
                            <a class="text-warning" href="mailto:shpin1209@gmail.com">shpin1209@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>