{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>DBDEEP</title>

<!-- StyleSheet Start -->
<link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/mobirise-icons2/mobirise2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/dropdown/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/socicon/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/theme/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/recaptcha.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap"></noscript>
<link rel="preload" as="style" type="text/css" href="{% static 'polls/mobirise/css/mbr-additional.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/mobirise/css/mbr-additional.css' %}">
<!-- StyleSheet End -->

<!-- Script Start -->
<script src="{% static 'polls/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Script End -->

<!-- Menu -->
<section data-bs-version="5" class="menu menu2 cid-sCnmUc7GU2" once="menu" id="menu2-0">
    <nav class="navbar navbar-dropdown collapsed">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-caption-wrap"><a class="navbar-caption text-warning display-7" href="/polls">DBDEEP</a></span>
            </div>
            <div class="contacts_menu display-4">
                <ol>
                    <li><a href="tel:01033378697" class="text-warning">010-3337-8697</a></li>
                    <li><a href="mailto:shpin1209@gmail.com" class="text-warning">shpin1209@gmail.com</a></li>
                    <!--<li><a href="/contact" class="text-warning">Contact</a></li>-->
                </ol>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-warning display-4" href="/polls">Home</a></li>
                    <li class="nav-item"><a class="nav-link link text-warning text-primary display-4" href="/polls/aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link link text-warning text-primary display-4" href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>