{% load static %}

{% include "polls/header.html" %}

<!-- Content -->
<section data-bs-version="5" class="header3 cid-sCnmZWoQrk" id="header3-2">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg">
                <div class="content_box">
                    <h1 class="mbr-section-title ls-1 mbr-fonts-style display-2">Graduation Project</h1>
                    <p class="mbr-text mbr-fonts-style display-4">Intro 내용</p>
                    <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="/polls/dbdeep" class="text-warning">Let's Go</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="image-wrapper flash">
                    <img src="{% static 'polls/images/mbr-1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% include "polls/footer.html" %}